.search-container {
  margin: 10px;
}

.search-input {
  width: 100%;
}

.list__item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  font-weight: bold;
}

.description {
  margin-top: 5px;
  font-size: 14px;
  color: #888;
}
.orange-button:hover {
  background-color: orange;
  color: white;
}





